$sitename-gradient-color: linear-gradient(
  200deg,
  #dc3546,
  rgba(242, 247, 7, 1),
  #dc3546,
  rgba(242, 247, 7, 1),
  #dc3546
);

$got: #4caf50;

$site-red: #dc3546;
$site-white: white;
$footer-white: white;
$footer2-bg-color: #5d1425;

$border-red: 2px solid red;
$border-black: 2px solid black;
$border-blue: 2px solid blue;

// your dream
$your-dream-text: white;

$footer-bg-gradient: linear-gradient(
  270deg,
  rgba(102, 48, 38, 1) 7%,
  rgba(137, 12, 53, 1) 62%,

  rgba(93, 20, 37, 1) 40%,
  rgba(137, 12, 53, 1) 62%
);

$bg-nowitis: linear-gradient(
  270deg,
  rgba(254, 144, 119, 1) 30%,
  rgb(245, 99, 143) 72%
);

$btn-color-white: white;
$btn-bg-color-green: #28a745;
$btn-bg-color-membership: #db3445;

$membership-bg-img: "../images/membership.jpeg";
$primary-darkblue: #17a2b7;
