@use "template.scss" as temp;
@use "_colors.scss" as mycolor;
.custom-footer-1 {
  background: mycolor.$footer-bg-gradient;
  color: mycolor.$footer-white;
  //   height: 800px;
  padding-top: 50px;
  padding-bottom: 50px;
  @include temp.custom-flex(row, wrap, center, unset);
  column-gap: 4%;
  > div:nth-child(1) {
    width: 18%;
    // border: 1px solid black;
    h4 {
      font-size: 24px;
      margin-bottom: 8px;
    }
    hr {
      height: 3px;
      width: 50px;
      background-color: white;
      margin-bottom: 15px;
    }
    p {
      text-align: justify;
    }
  }
  > div:nth-child(2) {
    // border: 1px solid black;
    width: 13%;
    h4 {
      font-size: 24px;
      margin-bottom: 8px;
    }
    hr {
      height: 3px;
      width: 50px;
      background-color: white;
      margin-bottom: 15px;
    }
    > ul {
      > li {
        margin-bottom: 15px;
        list-style-type: none;
        a {
          text-decoration: none;
          color: white;
        }
        &::before {
          content: "✓";
          margin-right: 5px;
          font-weight: bolder;
        }
      }
    }
  }
  > div:nth-child(3) {
    text-align: center;
    // border: 1px solid black;
    width: 15%;
    h4 {
      font-size: 24px;
      margin-bottom: 8px;
    }
    hr {
      height: 3px;
      margin: 0 auto 0 54px;
      width: 50px;
      background-color: white;
      margin-bottom: 15px;
    }
    > ul {
      width: 70%;
      margin: 0 auto;
      padding-left: 20px;
      //   border: 1px solid white;
      > li {
        text-align: start;
        margin-bottom: 15px;
        list-style-type: none;
        a {
          text-decoration: none;
          color: white;
        }
        &::before {
          content: "✓";
          margin-right: 5px;
          font-weight: bolder;
        }
      }
    }
  }
  > div:nth-child(4) {
    text-align: center;
    // border: 1px solid black;
    width: 17%;
    h4 {
      font-size: 24px;
      margin-bottom: 8px;
    }
    hr {
      height: 3px;
      margin: 0 auto 15px 40px;
      width: 50px;
      background-color: white;
    }
    > div {
      //   border: 1px solid black;
      width: 70%;
      text-align: start;
      margin: 0 auto;

      label {
        margin-bottom: 15px;
        span {
          display: inline-block;
          margin-right: 12px;
          margin-bottom: 15px;
        }
      }
    }
  }
}

@media only screen and (min-width: 320px) and (max-width: 556px) {
  .custom-footer-1 {
    @include temp.custom-flex(row, wrap, center, unset);
    column-gap: 10px;
    > div:nth-child(1) {
      margin-bottom: 20px;
      width: 60%;
    }
    > div:nth-child(2) {
      margin-bottom: 20px;
      width: 60%;
      h4 {
        font-size: 24px;
        margin-bottom: 8px;
      }
      > ul {
        padding-left: 5px;
      }
    }
    > div:nth-child(3) {
      width: 60%;
      margin-bottom: 20px;
      h4 {
        text-align: start;
        font-size: 24px;

        margin-bottom: 8px;
      }
      hr {
        height: 3px;
        margin: 0 auto 15px 0px;
        width: 50px;
      }
      > ul {
        width: 70%;
        margin: 0;
        margin-right: auto;
        padding-left: 5px;
      }
    }
    > div:nth-child(4) {
      text-align: start;

      width: 60%;
      h4 {
        font-size: 24px;
        margin-bottom: 8px;
      }
      hr {
        height: 3px;
        margin: 0 auto 0 0px;
        width: 50px;

        margin-bottom: 15px;
      }
      > div {
        width: 90%;
        margin: 0;
        margin-right: auto;
      }
    }
  }
}
@media only screen and (min-width: 557px) and (max-width: 776px) {
  .custom-footer-1 {
    @include temp.custom-flex(row, wrap, space-evenly, unset);
    column-gap: 20px;
    > div:nth-child(1) {
      margin-bottom: 40px;
      width: 40%;
    }
    > div:nth-child(2) {
      margin-bottom: 40px;
      width: 35%;
      h4 {
        font-size: 24px;
        margin-bottom: 8px;
      }
      > ul {
        padding-left: 5px;
      }
    }
    > div:nth-child(3) {
      width: 40%;

      h4 {
        text-align: start;
        font-size: 24px;

        margin-bottom: 8px;
      }
      hr {
        height: 3px;
        margin: 0 auto 15px 0px;
        width: 50px;
      }
      > ul {
        width: 70%;
        margin: 0;
        margin-right: auto;
        padding-left: 5px;
      }
    }
    > div:nth-child(4) {
      text-align: start;

      width: 35%;
      h4 {
        font-size: 24px;
        margin-bottom: 8px;
      }
      hr {
        height: 3px;
        margin: 0 auto 0 0px;
        width: 50px;

        margin-bottom: 15px;
      }
      > div {
        width: 90%;
        margin: 0;
        margin-right: auto;
      }
    }
  }
}
@media only screen and (min-width: 777px) and (max-width: 992px) {
  .custom-footer-1 {
    @include temp.custom-flex(row, wrap, space-evenly, unset);
    column-gap: 20px;
    > div:nth-child(1) {
      margin-bottom: 40px;
      width: 40%;
    }
    > div:nth-child(2) {
      margin-bottom: 40px;
      width: 30%;
      h4 {
        font-size: 24px;
        margin-bottom: 8px;
      }
      > ul {
        padding-left: 5px;
      }
    }
    > div:nth-child(3) {
      width: 40%;

      h4 {
        text-align: start;
        font-size: 24px;

        margin-bottom: 8px;
      }
      hr {
        height: 3px;
        margin: 0 auto 15px 0px;
        width: 50px;
      }
      > ul {
        width: 70%;
        margin: 0;
        margin-right: auto;
        padding-left: 5px;
      }
    }
    > div:nth-child(4) {
      text-align: start;
      //   border: 1px solid black;
      width: 30%;
      h4 {
        font-size: 24px;
        margin-bottom: 8px;
      }
      hr {
        height: 3px;
        margin: 0 auto 0 0px;
        width: 50px;

        margin-bottom: 15px;
      }
      > div {
        width: 90%;
        margin: 0;
        margin-right: auto;
      }
    }
  }
}
@media only screen and (min-width: 993px) and (max-width: 1200px) {
  .custom-footer-1 {
    @include temp.custom-flex(row, wrap, center, unset);
    column-gap: 20px;
    > div:nth-child(1) {
      width: 30%;
    }
    > div:nth-child(2) {
      width: 18%;
      h4 {
        font-size: 24px;
        margin-bottom: 8px;
      }
      > ul {
        padding-left: 5px;
      }
    }
    > div:nth-child(3) {
      width: 15%;
      h4 {
        font-size: 24px;
        margin-bottom: 8px;
      }
      hr {
        margin: 0 auto 0 16px;
        width: 50px;
        margin-bottom: 15px;
      }
      > ul {
        width: 80%;
        padding-left: 5px;
      }
    }
    > div:nth-child(4) {
      text-align: center;
      //   border: 1px solid black;
      width: 20%;
      h4 {
        font-size: 24px;
        margin-bottom: 8px;
      }
      hr {
        height: 3px;
        margin: 0 auto 0 10px;
        width: 50px;

        margin-bottom: 15px;
      }
      > div {
        width: 90%;
      }
    }
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1400px) {
  .custom-footer-1 {
    @include temp.custom-flex(row, wrap, center, unset);
    column-gap: 3%;
    > div:nth-child(1) {
      width: 18%;
    }
    > div:nth-child(2) {
      width: 15%;
      h4 {
        font-size: 24px;
        margin-bottom: 8px;
      }
      > ul {
        padding-left: 5px;
      }
    }
    > div:nth-child(3) {
      width: 15%;
      h4 {
        font-size: 24px;
        margin-bottom: 8px;
      }
      hr {
        margin: 0 auto 0 35px;
        width: 50px;
        margin-bottom: 15px;
      }
      > ul {
        width: 70%;
        padding-left: 5px;
      }
    }
    > div:nth-child(4) {
      text-align: center;
      //   border: 1px solid black;
      width: 20%;
      h4 {
        font-size: 24px;
        margin-bottom: 8px;
      }
      hr {
        height: 3px;
        margin: 0 auto 0 30px;
        width: 50px;

        margin-bottom: 15px;
      }
      > div {
        width: 70%;
      }
    }
  }
}
